@media (max-width: 1200px) {
    .header {
        justify-content: space-between;
    }
    .promo {
        padding-right: 15px;
    }
    
}
@media (max-width: 991px) {
    .header {
        justify-content: space-around;
        &__logo {
            img {
                width: 85%;
            }
        }
        &__official {
            font-size: 12px;
			span {
				font-size: 16px;
                margin-top: 2px;
			}
		}
        &__phone {
			a {
				font-size: 15px;
			}
        }
        .button {
            width: 90%;
            font-size: 11px;
        }
    }
    .promo {
        padding-right: 15px;
        min-height: 550px;
        &__header {
            font-size: 38px;
            line-height: 38px;
        }
        &__subheader {
            font-size: 20px;
            line-height: 20px;
            margin-top: 10px;
        }
        &__icons {
            font-size: 13px;
            line-height: 13px;
        }
        &__icon > img {
            width: 35px;
        }
        .button_main {
            width: 250px;
            font-size: 14px;
        }
        &__link {
            font-size: 14px;
            line-height: 20px;
        }
    }
    .benefits {
        min-height: 400px;
        padding: 53px 0 45px;
        &__title {
            font-size: 25px;
            line-height: 25px;
        }  
        &__subtitle {
            font-size: 16px;
            line-height: 25px;
        }
        &__description {
            width: 100%;
            padding: 0 10px;
        }
    }
    .consultation {
        padding-left: 20px;
        &__title {
            font-size: 30px;
            line-height: 45px;
        }
        .feed-form {
            width: 280px;
        }

    }
    .carousel {
        min-height: 450px;
        &__inner {
            img {
                width: 550px;
                height: 350px;
                margin: 0 auto;
            }
        }
        .slick-slider{
            width: 65vw;
        }
        .slick-prev {
            left: -66px;
            img {
                width: 20px;
                height: 40px;
            }
        }
        .slick-next {
            right: -66px;
            img {
                width: 20px;
                height: 40px;
            }
        }

    }
    .catalog {
        &__title {
            font-size: 30px;
            line-height: 45px;
        }
        &__tabs > .catalog__tab {
            width: 25%;
        }

    }
    .comments {
        &__title {
            font-size: 30px;
            line-height: 45px;
        }
        &__block {
            img {
                width: 150px;
                height: 150px;
                margin-left: 20px;
            }
        }
        &__descr {
            width: 80%;
            line-height: 22px;
            margin-right: 0;
        }
    }
        
}

@media (max-width: 767px) {
    .header {
        padding: 0 10px;
        justify-content: space-around;
        align-items: center;
        &__logo {
            width: 150px;
            img {
                width: 100%;
            }
        }
        &__official {
			font-size: 12px;
			span {
				font-size: 14px;
                margin-top: 2px;
			}
		}
        &__phone {
			a {
				font-size: 13px;
			}
        }
        .button {
            width: 90%;
            font-size: 10px;
        }
    }
    .promo {
        padding: 20px 15px 30px;
        min-height: 400px;
        &__header {
            font-size: 30px;
            line-height: 30px;
        }
        &__subheader {
            font-size: 17px;
            line-height: 17px;
            margin-top: 10px;
        }
        &__icons {
            width: 350px;
            justify-content: space-between;
            align-items: baseline;
            font-size: 13px;
            line-height: 13px;
            margin-top: 30px;
        }
        &__icon {
            img {
                width: 30px;
            }
        } 
        
        .button_main {
            width: 200px;
            font-size: 13px;
        }
        &__link {
            font-size: 12px;
            line-height: 15px;
        }
    }
    
        
    
    .benefits {
        min-height: 350px;
        padding: 35px 0 25px;
        &__title {
            font-size: 22px;
            line-height: 22px;
        } 
        .benefits__wrapper {
            flex-direction: column;
        }
        &__block {
            margin-top: 30px;
        }   
        &__subtitle {
            font-size: 14px;
            line-height: 20px;
            margin-top: 20px;
        }
        &__description {
            width: 100%;
            padding: 0 10px;
            margin-top: 15px;
        }
    }
    .consultation {
        min-height: 500px;
        padding: 50px 15px 55px;
        &__title {
            font-size: 25px;
            line-height: 35px;
        }
        &__description {
            font-size: 17px;
            line-height: 25px;
        }
        .feed-form {
            width: 250px;
            input {
                height: 40px;
            }
        }
        .button_submit {
            height: 40px;
        }

    }
    .carousel {
        min-height: 450px;
        &__inner {
            img {
                width: 450px;
                height: 300px;
                margin: 0 auto;
            }
        }
        .slick-slider{
            width: 75vw;
        }
        .slick-prev {
            left: -45px;
            img {
                width: 20px;
                height: 40px;
            }
        }
        .slick-next {
            right: -45px;
            img {
                width: 20px;
                height: 40px;
            }
        }

    }
    .catalog {
        &__title {
            font-size: 23px;
            line-height: 30px;
        }
        &__tabs > .catalog__tab {
            width: 25%;
            font-size: 16px;
        }

    }
    .comments {
        &__title {
            font-size: 23px;
            line-height: 30px;
        }
        &__block {
            img {
                width: 130px;
                height: 130px;
                margin-left: 20px;
            }
        }
        &__descr {
            width: 80%;
            line-height: 22px;
            margin-right: 0;
        }
    }
}
@media (max-width: 575px) {
    .xs-hidden {
        display: none;
    }
    .header {
        height: 150px;
        padding: 0 10px;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        gap: 20px;
        
        &__logo {
            width: 150px;
            img {
                width: 100%;
            }
        }
        &__phone {
			a {
				font-size: 14px;
			}
        }
        .button {
            width: 100%;
            font-size: 12px;
            margin-top: 5px;
        }
    }
    .promo {
        padding: 20px 15px 30px;
        min-height: 350px;
        background: url('../../img/first_screen_xs.jpg') center (center/cover) no-repeat;
        &__wrapper {
            margin-top: 25px;
        }
        &__header {
            font-size: 20px;
            line-height: 20px;
        }
        &__subheader {
            font-size: 12px;
            line-height: 12px;
            margin-top: 5px;
        }
        &__icons {
            width: 280px;
            justify-content: space-between;
            align-items: baseline;
            font-size: 12px;
            line-height: 12px;
            margin-top: 30px;
        }
        &__icon {
            img {
                width: 25px;
            }
        } 
        
        .button_main {
            width: 120px;
            font-size: 12px;
        }
        &__link {
            font-size: 12px;
            line-height: 15px;
        }
    }
    .benefits {
        min-height: 350px;
        padding: 20px 0 15px;
        &__title {
            font-size: 18px;
            line-height: 18px;
        } 
        .benefits__wrapper {
            flex-direction: column;
        }   
        &__block {
            margin-top: 30px;
        }  
        &__subtitle {
            font-size: 13px;
            line-height: 15px;
            margin-top: 10px;
        }
        &__description {
            width: 100%;
            padding: 0 20px;
            margin-top: 10px;
        }
    }
    .consultation {
        min-height: 400px;
        padding: 25px 15px 27px;
        &__title {
            font-size: 18px;
            line-height: 25px;
        }
        &__description {
            font-size: 14px;
            line-height: 18px;
        }
        .feed-form {
            width: 200px;
            input {
                height: 35px;
                font-size: 12px;
                &:nth-child(3) {
                    margin-bottom: 10px;
                }
            }
        }
        .button_submit {
            height: 35px;
            font-size: 12px;
        }

    }
    .carousel {
        min-height: 200px;
        padding: 40px;
        &__inner {
            img {
                width: 250px;
                height: 180px;
                margin: 0 auto;
            }
        }
        .slick-slider{
            width: 75vw;
        }
        .slick-prev {
            left: -25px;
            img {
                width: 10px;
                height: 20px;
            }
        }
        .slick-next {
            right: -25px;
            img {
                width: 10px;
                height: 20px;
            }
        }

    }
    .catalog {
        &__title {
            font-size: 18px;
            line-height: 25px
        }
        &__tabs {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 25px;
            .catalog__tab {
                width: 45%;
                font-size: 13px;
            }
        }

        &-item {
            width: 285px;
            &__subtitle {
                font-size: 14px;
                line-height: 20px;
            }
            &__descr {
                font-size: 12px;
                line-height: 18px;
            }
            &__content {
                transform: translateX(-110%);
                &_active {
                    transform: translateX(0%);
                }   
            }
            &__link, &__link-back {
                font-size: 13px;
                line-height: 13px;
            }
            &__old-price {
                font-weight: 300;
                font-size: 13px;
                line-height: 13px;
                text-decoration-line: line-through;
                color: #555555;
            }
            &__price {
                font-weight: 700;
                font-size: 17px;
                line-height: 17px;
                color: #050505;
                margin-top: 2px;
            }
            .button_mini {
                width: 100px;
                height: 40px;
                font-size: 13px;
                line-height: 18px;
            }
        }
        

    }
    .comments {
        &__title {
            font-size: 18px;
            line-height: 25px
        }
        &__block {
            flex-direction: column;
            align-items:center;
            gap: 15px;
            img {
                width: 150px;
                height: 150px;
                margin-left: 20px;
            }
        }
        &__subtitle {
            text-align: center;
        }
        &__descr {
            width: 100%;
            line-height: 22px;
            margin-right: 0;
            padding: 0 15px 0 15px;
        }
    }
           
}
    

