@import "../base/variables";

* {
    font-family: 'Museo Sans', 'sans-serif';
}
.container {
    max-width: 950px;
    margin: 0 auto;
  
}
@import "_header.scss";
@import "_promo.scss";
@import "_buttons.scss";
@import "_benefits.scss";
@import "_consultation.scss";
@import "_forms.scss";
@import "_carousel.scss";
@import "_catalog.scss";
@import "_comments.scss";

@import "_media.scss";